---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Panes from "../components/Panes.astro";
import Nosotros from "../components/Nosotros.astro";
import Postres from "../components/Postres.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/FooterMenu.astro"
---

<Layout title="Pan saludable">
  <LandingHeader />

  <main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Panes />
    </div>
    <div class="snap-center">
      <Postres />
    </div>
    <div class="snap-center">
      <Nosotros />
    </div>
    <div class="snap-center">
      <Footer />
    </div>
  </main>
</Layout>
