<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Page title -->
    <title>Tienda</title>
    
    <!-- Stylesheet (linked here for demonstration, but 
you could use CSS frameworks/components)-->
    <link rel="stylesheet" href="/public/styles.css"/> 
</head>
<body>
    {/* Header */}
    <header>Tienda</header>
    
    <!-- Main content -->
    <main id="content">
        Your landing page's main body goes here! Add 
your introductory text, call to action (CTA), images 
etc. 
        
        {/* You can add more sections below */}
        Here is a featured image:
        <!-- Include this feature image in the 
/public/img directory -->
            <img src="/public/img/{imageName}.jpg" 
alt="Landing Page Image">
            
    </main>
    
    {/* Footer (if necessary) */}
</body>
</html>
