<footer
	class="py-3 px-10 flex justify-center items-center absolute bottom-0 w-full z-40 text-gray-600 text-xs font-medium"
	id="landing-footer"
>
	<nav>
		<ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
			<li><a href="#">PanesSaludables © 2025</a></li>
			<li><a href="#">Privacidad y legal</a></li>
			<li><a href="https://api.whatsapp.com/send?phone=56935797485&text=Hola%20Pan%20Salduable..!!%20Consulta">Contacto</a></li>
			<li><a href="#">Noticias</a></li>
		</ul>
	</nav>
</footer>
