---
import Section from "./Section.astro"
---

<Section
  title="Pan saludable"
  subtitle="Panes y postres a base de masa madre, ¡artesanales!, una alternativa saludable"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="https://api.whatsapp.com/send?phone=56935797485&text=Hola%20Pan%20Salduable..!!%20Consulta"
    >
      Contacto</a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/amasa1.mp4"></video>
</Section>
