---
import Section from "./Section.astro"
---

<Section
  title="Nosotros"
  subtitle="Hacemos panes y postres artesanales sin aditivos, con ingredientes naturales, basado en recetas tradicionales."
  color="black"
  id="nosotros"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Panaderia y pasteleria familiar</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Saber más</a
    >
  </div>

  <img
    slot="background"
    alt="Nosotros"
    class="h-full w-full object-cover object-center"
    src="nosotros.jpg"
    id="bg-image-nosotros"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true
    } else {
      return false
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-nosotros"
  ) as HTMLImageElement

  if (isEdge()) {
    imageElement.src = "nosotros.jpg"
  } else {
    imageElement.src = "cortpan.avif"
  }
</script>
